name: Novagram-backend-ci
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

  workflow_dispatch:


jobs:
 test-backend:
   runs-on: ubuntu-latest

   defaults:
     run:
       working-directory: backend

   services:
     mongo:
      image: mongo:6
      ports:
        - 27017:27017
      options: >-
          --health-cmd="mongosh --quiet --eval 'db.runCommand({ ping: 1 }).ok' || exit 1"
          --health-interval=5s
          --health-timeout=3s
          --health-retries=20

   env:
     NODE_ENV: test
     LOG_LEVEL: error
     MONGO_URI: mongodb://localhost:27017/novagram_test


   steps:
     - name: get code
       uses: actions/checkout@v4

     - name: setup node
       uses: actions/setup-node@v5
       with:
         node-version: "20"
         cache: "npm"
         cache-dependency-path:  backend/package-lock.json


     - name: Install dependencies
       run: npm ci

     - name: verify mongo
       shell: bash
       run: |
         echo "waiting for Mongodb to be ready..."
         for i in {1..30}; do
          node -e "require('mongoose').connect(process.env.MONGO_URI).then(()=>process.exit(0)).catch(()=>process.exit(1))" \
              && echo "MongoDB is ready" && exit 0
            sleep 1
          done
          echo "MongoDB did not become ready in time" >&2
          exit 1

     - name: Run tests
       run: npm test -- --runInBand #runtest one at a time, in-single process, in order




