name: Novagram-backend-ci

permissions:  #for aws
  id-token: write
  contents: read

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags:
      - "v*"

  workflow_dispatch:

env:
    BACKEND_IMAGE: novagram-backend
    REGISTRY: docker.io
    TASK_DEF_FILE_BACKEND: Novagram-backend.json
    BACKEND_CONTAINER_NAME: novagram-backend-container
    SERVICE_NAME_BACKEND: Novagram-backend-td-service
    CLUSTER_NAME_BACKEND: novagram-backend-cluster



jobs:
 test-backend:
   runs-on: ubuntu-latest

   defaults:
     run:
       working-directory: backend

   services:
     mongo:
      image: mongo:6
      ports:
        - 27017:27017
      options: >-
          --health-cmd="mongosh --quiet --eval 'db.runCommand({ ping: 1 }).ok' || exit 1"
          --health-interval=5s
          --health-timeout=3s
          --health-retries=20

   env:
     NODE_ENV: test
     LOG_LEVEL: error
     MONGO_URI: mongodb://localhost:27017/novagram_test


   steps:
     - name: get code
       uses: actions/checkout@v4

     - name: setup node
       uses: actions/setup-node@v5
       with:
         node-version: "20"
         cache: "npm"
         cache-dependency-path:  backend/package-lock.json


     - name: Install dependencies
       run: npm ci

     - name: verify mongo
       shell: bash
       run: |
         echo "waiting for Mongodb to be ready..."
         for i in {1..30}; do
          node -e "require('mongoose').connect(process.env.MONGO_URI).then(()=>process.exit(0)).catch(()=>process.exit(1))" \
              && echo "MongoDB is ready" && exit 0
            sleep 1
          done
          echo "MongoDB did not become ready in time" >&2
          exit 1

     - name: Run tests
       run: npm test -- --runInBand #runtest one at a time, in-single process, in order

 build-backend:
   if: github.event_name == 'push'
   needs: test-backend
   runs-on: ubuntu-latest
   defaults:
     run:
       working-directory: backend

   outputs:
     VERSION: ${{ steps.vars.outputs.VERSION }}
     IS_RELEASE: ${{ steps.vars.outputs.IS_RELEASE }}

   steps:
     - name: get code
       uses: actions/checkout@v4

     - name: Setup Docker Buildx
       uses: docker/setup-buildx-action@v3

     - name: Login to Dockerhub
       uses: docker/login-action@v3
       with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

     - name: Detect version
       id: vars
       run: |
         if [[ "${GITHUB_REF}" == refs/tags/v* ]]; then
           echo "VERSION=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
           echo "IS_RELEASE=true" >> $GITHUB_OUTPUT

         else
           VERSION="dev-${GITHUB_SHA::7}" 
           echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
           echo "IS_RELEASE=false" >> $GITHUB_OUTPUT

         fi

     - name: Build image
       run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ env.BACKEND_IMAGE }}:${{ steps.vars.outputs.VERSION }} .
         

     #- name: Debug dependencies
       #run: docker run --rm ${{ secrets.DOCKER_USERNAME }}/${{ env.BACKEND_IMAGE }}:${{ steps.vars.outputs.VERSION }} npm list cross-spawn glob


     - name: Scan image with Trivy
       uses: aquasecurity/trivy-action@0.20.0
       with:
        image-ref: ${{ secrets.DOCKER_USERNAME }}/${{ env.BACKEND_IMAGE }}:${{ steps.vars.outputs.VERSION }}
        severity: CRITICAL,HIGH
        exit-code: 1
        ignore-unfixed: true
        trivyignores: .trivyignore

     - name: Tag image # tag image version to main if trigger is just push, tag to latest if trigger is version
       run: |
        IMAGE=${{ secrets.DOCKER_USERNAME }}/${{ env.BACKEND_IMAGE }}
        VERSION=${{ steps.vars.outputs.VERSION }}
           
        docker tag $IMAGE:$VERSION $IMAGE:main
           
           if [[ "${{ steps.vars.outputs.IS_RELEASE }}" == "true" ]]; then
             docker tag $IMAGE:$VERSION $IMAGE:latest
         fi

     - name: Enforce immutable release tags (Docker Hub)
       if: steps.vars.outputs.IS_RELEASE == 'true'
       run: |
         IMAGE="${{ secrets.DOCKER_USERNAME }}/${{ env.BACKEND_IMAGE }}"
         TAG="${{ steps.vars.outputs.VERSION }}"

         echo "Checking if $IMAGE:$TAG already exists..."

         if docker manifest inspect "$IMAGE:$TAG" > /dev/null 2>&1; then
           echo "::error::Release tag $TAG already exists in Docker Hub. Release tags are immutable."
           exit 1
         fi

         echo "Tag $TAG does not exist. Safe to release."

     - name: Push images to registry
       run: |
           IMAGE=${{ secrets.DOCKER_USERNAME }}/${{ env.BACKEND_IMAGE }}
           VERSION=${{ steps.vars.outputs.VERSION }}
           
           docker push $IMAGE:$VERSION
           docker push $IMAGE:main
           
           if [[ "${{ steps.vars.outputs.IS_RELEASE }}" == "true" ]]; then
             docker push $IMAGE:latest
           fi
         

#CD
 deploy-backend-aws:
   needs: build-backend
   runs-on: ubuntu-latest
   environment: production
   if: ${{ needs.build-backend.outputs.IS_RELEASE == 'true' }}

   steps:
     - name: checkout code
       uses: actions/checkout@v4

     - name: Configure AWS credentials
       uses: aws-actions/configure-aws-credentials@v4
       with:
         role-to-assume: arn:aws:iam::100067510402:role/github-actions-novagram-deployer
         aws-region: eu-north-1


     - name: Render new task definition for backend
       id: backend_render
       uses: aws-actions/amazon-ecs-render-task-definition@v1
       with:
         task-definition: ${{ env.TASK_DEF_FILE_BACKEND }}
         container-name: ${{ env.BACKEND_CONTAINER_NAME }}
         image: ${{ secrets.DOCKER_USERNAME }}/${{ env.BACKEND_IMAGE }}:${{ needs.build-backend.outputs.VERSION }}


     - name: Deploy backend to Amazon ECS service
       uses: aws-actions/amazon-ecs-deploy-task-definition@v2
       with:
         task-definition: ${{ steps.backend_render.outputs.task-definition }}
         service: ${{ env.SERVICE_NAME_BACKEND }}
         cluster: ${{ env.CLUSTER_NAME_BACKEND }}
         wait-for-service-stability: true

